main {
    width: 40em;
    min-width: 0;
}

.subtitle-wrapper {
    margin: .4em 0 0;
}

.subtitle {
    font-size: 2.7em;
}

main {
    margin-top: 1em;
}

.post-date {
    display: inline;
    padding-left: 0.5em;
}

pre {
    white-space: pre-wrap;
}

@media (max-width: 800px) {
    main {
        width: auto;
        margin: 0 auto;
        padding-left: 1em;
        padding-right: 1em;
    }
}