<!doctype html>
<html lang="en">
{% include head.html %}
<body>
  <main>
    {% include header.html %}
    <section class="post-title-section">
      <span class="list-title">{{ page.title }}</span>
      <br />
      <span class="list-secondary-text">{{ page.date | date_to_string: "ordinal", "UK" }} ― {{ page.subtitle }}</span>
    </section>
    <article class="article">
      {{ content }}
    </article>
    {% include share-buttons.html %}
  </main>
  {% include javascript.html %}
</body>
</html>
